/* gen */

.toolbtn { font-size:10px; text-decoration:none; }

h2, h2 select { font-size:24px; font-weight:bold; height:26px; }
h2 select { font-size:18px; }
h2 select option { font-size:12px; font-weight:normal; }


/* siteparts */

header,footer { background:#333; }

header h1 { padding:20px; color:#fff; }

header nav { background:#000305; border-radius:5px 5px 5px 5px; font-size:1.143em; height:40px; line-height:30px; padding:0; text-align:center; }

header nav ul { list-style:none outside none; margin:0 auto; }
header nav li { display:inline; float:left; margin:0; }

header nav a:link, header nav a:visited { color:#FFFFFF; display:inline-block; height:30px; padding:5px 1.5em; text-decoration:none; }

header nav a:hover, header nav a:active, header nav .active a:link, header nav .active a:visited {
  background:none repeat scroll 0 0 #C74451; color:#FFFFFF; text-shadow:none !important;
}

footer p { color:#fff; padding:20px; text-align:center; }


/* app */
.appform { border:1px solid #333; margin-bottom:10px; padding:20px; } /* TODO: deleteme */
.appform h3 { margin:10px 0 0; }
.appform .multisel { height:180px; }

.timetable, .acttable { background:#ccc; padding-left:5px; margin-bottom:20px; padding:10px 0; }
.dday { float:left; }
.dday .cellhead { height:30px; }
.dday h4 { margin:0; padding-top:5px; padding-bottom:5px; background:#D3CCAB; text-align:center; border:1px solid #333; }
.dday .dh, .dday .dhh { background:#fff; border:1px solid #333; }
.dday .dh:hover, .dday .dhh:hover { background:#F2F0E1; cursor:pointer; }


.timetable .dday { width:80px; margin-right:0px; }
.timetable .cellhead h4 { border-right:none; }
.dday .dhh { height:10px; text-align:center; font-size:0.9em; border-right:none; }
.dday .dhh3 { height:21px; }
.dday .dhh1 { border-bottom:1px solid #ddd; }
.dday .dhh2 { border-top:none; }


.acttable .dday { width:132px; margin-right:3px; }
.acttable .dh { padding:5px; }
.acttable .dh h5, .acttable .dh h6, .acttable .dh p { line-height:0.9em; }
.acttable .dh h5 { margin-bottom:5px; font-size:14px; color:#999; }
.acttable .dh h6 { margin-bottom:10px; color:#666; }
.acttable .dh p { margin-bottom:5px; }

.dayacts .dhh { background:#E8E3D7; }
